[2016-03-25 17:57] dselivanov opened #1 "Design discussion"
I have strong opinion, that functions should always return values of the same type. Generally it drastically simplifies logic on subsequent functions - do not need to addition type checks. If you really want to keep simplification to vector, it can be a good idea to add `simplify` argument which should be `FALSE` by default.

Another question is whether we should perform lowercasing by default. I

[2016-03-25 18:04] dselivanov commented on #1
See for example [purrr](https://github.com/hadley/purrr), how it fight against weakly typed functions and why does this make sense.

[2016-03-25 18:07] lmullen commented on #1
You beat me to the question. :-)

I see your point about functions always returning the same kind of output. That's certainly the design direction that stringi and stringr take, since they always return a list. I certainly could eliminate a lot of code if I just went with stringi and stringr on this.

The thing I don't like about that is that it forces the function to turn into return a higher ord

[2016-03-25 18:10] lmullen commented on #1
On the question of lowercasing by default. It seems to me that with certain kinds of tokens you almost always want lowercase. So with words or n-grams, I've never not made things lowercase. But with other kinds of "tokens" (loosely defined) such as sentences or paragraphs I don't want things lowercase unless I do it explicitly. So that's what I've tried to do with the defaults.

[2016-03-25 18:11] lmullen commented on #1
Two other questions for you, @dselivanov:
1. Are there any other tokenizers you might want for this to be useful for text2vec?
2. Any other problems with the design of the interface?

Once we nail this down, I'll add tests.

[2016-03-25 18:11] lmullen opened #2 "Add tests"
Add tests once the design of the interface is settled.

[2016-03-25 18:21] dselivanov commented on #1
For me `simplify = FALSE` is definitely fine.
Regarding the lowercasing. I agree that in 99% of time NLP tasks operate on lower-cased tokens. **But**, before tokenization users usually perform preprocessing with regular expressions and lowercasing. I didn't observe a lot of cases when user perform tokenization on raw text. And mb it worth to leave tokenizers with only their main function...
For n-

[2016-03-25 18:25] lmullen commented on #1
I'll go through then and add "simplify = FALSE` parameters and revised the documentation.

The n-gram tokenizers are in C++, they just have R wrappers. Happy to get improvements though.

https://github.com/lmullen/tokenizers/blob/master/src/shingle_ngrams.cpp
https://github.com/lmullen/tokenizers/blob/master/src/skip_ngrams.cpp

Would you mind sending a PR for stop words?

[2016-03-25 19:49] lmullen opened #3 "Add regex and split tokenizers"

[2016-03-25 19:49] lmullen opened #4 "Look through tokenizers in NLTK for models"
http://www.nltk.org/api/nltk.tokenize.html

[2016-03-25 19:51] lmullen opened #5 "Lemmatizing tokenizer"
gensim has a lemmatizing tokenizer, which, instead of stemming words, converts them to their lemma. For instance, "was," "being," "am" would tokenize to "be."

https://radimrehurek.com/gensim/utils.html

[2016-03-25 22:38] lmullen opened #6 "Piping and nesting of output"
What kinds of piping are actually likely to be used in practice? What kind of nesting is desirable?

At the moment piping works for at most one level.

[2016-03-26 20:05] lmullen opened #7 "Text normalizers"
Normalizers to strip punctuation, to strip numbers.

[2016-03-27 10:29] dselivanov commented on #5
Can't figure out, is it based on [wordnet](http://wordnet.princeton.edu/)?

[2016-03-30 02:35] lmullen commented on #7
Probably out of scope.

[2016-03-30 02:35] #7 closed

[2016-03-30 02:36] lmullen commented on #6
Not going to implement piping. Anyone who wants to can do this easily enough with `lapply()` or `purrr::map()`.

[2016-03-30 02:36] #6 closed

[2016-03-30 02:41] lmullen commented on #5
@dselivanov It looks like gensim provides the lemmatizing function via the Python patterns package. I see some references to wordnet in that package, but it appears to use a rule based function:

https://github.com/clips/pattern/blob/820cccf33c6ac4a4f1564a273137171cfa6ab7cb/pattern/text/en/inflect.py#L645

Wordnet seems like the solution I would use.

[2016-03-30 02:42] lmullen commented on #2
Tests added.

[2016-03-30 02:42] #2 closed

[2016-03-30 02:57] #3 closed

[2016-03-30 03:06] lmullen commented on #1
I'm basically done with this package for its first CRAN version. All the functions have a consistent interface, as explained in the README. And I've added tests. I'm going to send this to CRAN tomorrow, @dselivanov, unless there is something you'd like to see changed that would make it more useful for text2vec.

[2016-03-30 06:21] dselivanov opened #9 "stopwords"
For the moment the simplest way to get stopwords - use `tm::stopwords`. But they are far from perfect. May be it worth to add modern stopwords lists to `tokenizers` package. As far as I know, [stopwords from lucene](https://github.com/apache/lucene-solr/tree/3f38aba02ce37c6422875d8824ee034d42d635b9/solr/contrib/morphlines-core/src/test-files/solr/collection1/conf/lang) are quite comprehensive.

[2016-04-01 02:04] lmullen commented on #9
I agree that this is useful. I want to look more into this, since there are lots of different lists, then I'll add it to a later release.

[2016-04-04 03:07] lmullen commented on #1
This package is on CRAN now, though it's not out on all the CRAN mirrors yet.

https://cran.r-project.org/web/packages/tokenizers/index.html

[2016-04-04 03:07] #1 closed

[2016-04-05 20:40] soodoku opened #10 "Comparisons to RWeka etc."
Dear Lincoln,

It would be great to post some test results against RWeka implementation. On my computer, I got the following numbers:

   user  system elapsed
   1.08    0.27    1.34

   user  system elapsed
  10.90    0.25   10.71

Warmly,

[2016-04-05 21:00] lmullen commented on #10
Thanks for the suggestion. I may add something like this to the wiki, but in general I don't want to be unnecessarily critical of other people's work, and I'd prefer to emphasize the consistency of the interface.

[2016-04-05 21:11] soodoku commented on #10
But Lincoln, I think this is useful information. And would help people thinking about what package to use when tokenizing.

[2016-04-12 20:18] lmullen opened #11 "Rewrite tokenize_skip_ngrams to preserve order"
`tokenize_skip_ngrams()` should work the same was as `tokenize_ngrams()`

[code]

[code]

It should preserve the order of the tokens in the documents.

[2016-04-13 16:15] #9 closed

[2016-04-13 19:06] lmullen opened #12 "Look into Penn Treebank tokenizers for English"

[2016-05-03 00:45] lmullen opened #14 "Bug with tokenize_ngrams when number of words in document is between n_min and n"
With `tokenize_ngrams()` (and thus the C++ functions they call) there is a bug if the number of words in the document is between the parameter `n_min` and `n`, and `n` is greater than the number of words in the text plus 1.

Suppose we have a three word text. If we ask for 4-grams, we sensibly get back an empty character vector.

[code]

But if we ask for the range of n-grams between 2-grams and 5

[2016-05-03 01:03] dselivanov commented on #14
I'm on vacation till 10th of May, will take a look after return.
3 мая 2016 г. 7:45 AM пользователь "Lincoln Mullen" <
notifications@github.com> написал:

[2016-05-11 20:02] rsjohnso opened #16 "Tokenizers does not compile on RHEL 6.5.7"
Downloaded from cran.r-project.org, I'm running on RHEL 6.5.7.  I have the following gcc RPM packages installed:

`compat-gcc-34-c++-3.4.6-19.el6.x86_64
compat-gcc-34-3.4.6-19.el6.x86_64
gcc-gfortran-4.4.7-4.el6.x86_64
libgcc-4.4.7-4.el6.x86_64
gcc-c++-4.4.7-4.el6.x86_64
libgcc-4.4.7-4.el6.i686
gcc-4.4.7-4.el6.x86_64`

When I attempt to install it I get the following output.

`sudo R CMD INSTALL

[2016-05-12 05:00] dselivanov commented on #16
gcc 4.4 is too old for c++11. Try something modern, at least 4.7.

[2016-05-12 14:30] rsjohnso commented on #16
Thanks, I realized that and installed 5.1 and it works. 

Scott Johnson Production Eng, Sr
Desk: (217) 255-4317
IM: rsjohnso36

[code]

 To: lmullen/tokenizers tokenizers@noreply.github.com
Cc: rsjohnso scottj1@yahoo-inc.com; Author author@noreply.github.com
 Sent: Thursday, May 12, 2016 12:00 AM
 Subject: Re: [lmullen/tokenizers] Tokenizers does not compile on RHEL 6.5.7 (#16)

gcc 4.4 is too old

[2016-05-12 16:08] lmullen commented on #16
I installed this just fine on CentOS once I installed an updated gcc. I'll close this, but feel free to reopen if necessary.

[2016-05-12 16:08] #16 closed

[2016-05-12 16:13] #14 closed

[2016-05-26 14:51] juliasilge opened #17 "Any tests for ngram/skip_ngram for the tail of the output?"
Thank you so much for your work on this amazing package! It has been so great to work with.

In working on the [tidytext](https://github.com/juliasilge/tidytext) package with @dgrtwo, I wrote some tests that involved calling `tokenize_ngrams` and `tokenize_skip_ngrams`. My tests as I originally wrote them could pass on Travis and locally on OSX but not on appveyor. Someone helpfully reproduced the

[2016-05-26 15:02] dselivanov commented on #17
Please provide small reproducible example.
26 мая 2016 г. 5:51 PM пользователь "Julia Silge" notifications@github.com
написал:

[2016-05-26 15:14] lmullen commented on #17
Thanks for the report @juliasilge. I suspect that the problem has to do with how stringi tokenizes words on different OSes: I've run into this before.

[2016-05-26 15:17] juliasilge commented on #17
Here is the output from the tests for tidytext run on Windows: https://gist.github.com/jhollist/cf3956e3ee38311eae5245d19836301c
The relevant failures are numbers 2 and 3.

[code]

When I run this locally on OSX, it behaves perfectly as expected but based on the test I wrote that failed on appveyor, I am guessing that if you run this on Windows, the last 1-3 outputs would be not what we want.

I c

[2016-05-26 16:11] lmullen commented on #17
Thanks. I'll look into this next week when I am back at the office and have
my Windows VM.

On Thu, May 26, 2016 at 11:17 AM, Julia Silge notifications@github.com
wrote:

##

Lincoln Mullen, http://lincolnmullen.com
Assistant Professor, Department of History & Art History
George Mason University

[2016-06-22 18:28] harshakap opened #18 "Error while installing tokenizers package"
2016-06-22 11:37:37 (3.44 MB/s) - `/tmp/RtmpmTNniF/downloaded_packages/tokenizers_0.1.2.tar.gz' saved [41587/41587]

* installing *source* package ‘tokenizers’ ...
** package ‘tokenizers’ successfully unpacked and MD5 sums checked
** libs
I/appl/tools/R2/R-3.2.2/lib64/R/include -DNDEBUG  -I/usr/local/include -I"/export/appl/bo6_data0_r/Packagetest/Rcpp/include"      -c RcppExports.cpp -o RcppExpor

[2016-06-22 18:30] dselivanov commented on #18
You need compiler with c++11 support, gcc 4.7+.
22 июня 2016 г. 9:28 PM пользователь "harshakap" notifications@github.com
написал:

[2016-06-22 18:52] lmullen commented on #18
Closing this issue since the problem is definitely the compiler. Feel free to reopen if you have further issues after updating gcc.

[2016-06-22 18:52] #18 closed

[2016-08-04 20:26] jeroenooms opened #19 "hunspell"
The new version of [hunspell](http://www.rdocumentation.org/packages/hunspell/versions/1.4.3/topics/hunspell) works on all platforms and has zero dependencies (it bundles the libhunspell source code). The package includes a speller (`hunspell_check`), stemmer (`hunspell_stem`) and tokenizer (`hunspell_parse`) which can parse formats `text`, `man`, `latex`, `html` or `xml`.

[2016-08-04 21:03] lmullen commented on #19
Thanks, @jeroenooms! I'll look forward to looking into it.

[2016-08-11 20:52] #10 closed

[2016-08-11 20:52] #4 closed

[2016-08-11 22:51] lmullen commented on #17
@juliasilge It turns out that nothing makes me procrastinate quite so much as installing Windows. :-) It actually turned out to be fairly painless.

Windows does generally return more tokens than on *nix based platforms, but the problem is not with single words at the end of the vector. Rather, the problem comes with splitting words that contain internal punctuation such as apostrophes, when those

[2016-08-11 22:51] #17 closed

[2016-08-12 05:16] dselivanov commented on #17
@lmullen interesting information, thx for sharing.

[2016-08-12 16:23] lmullen opened #20 "Pass argument by reference using raw pointer"
Issue from [rOpenSci onboarding](https://github.com/ropensci/onboarding/issues/33#issuecomment-239488688):

[2016-08-12 16:24] lmullen opened #21 "Using long vectors"
From [rOpenSci onboarding](https://github.com/ropensci/onboarding/issues/33#issuecomment-239488688):

[2016-08-15 21:58] juliasilge commented on #17
I finally got a chance to sit down and think about this again. Thanks so much for discovering the root of my puzzlement, @lmullen. I'll, at the very least, be able to keep this in mind when using n-grams and/or writing tests.

[2016-08-25 11:18] dselivanov commented on #21
IMHO we are safe and should close this issue. Can't imagine the case when it can be useful to use `skip_grams > 10`

[2016-08-25 11:31] #21 closed

[2016-08-25 11:38] dselivanov opened #22 "Character level tokenizers"
It can be useful to have "shingle" tokenizer which will work on character level (useful for noisy/corrupted texts, especially LSH over shingles techniques ).

Here are examples:
`input = "abcd efgh jklmn"`
`shingle_size = 3`

1. `output = c("abc", "d ef", "gh ", "jkl", "mn")`
1. Sliding window: `output = c("abc", "bcd", "cd ", "d e",  " ef", "fgh", "gh ", "h j", " jk", "jkl", "klm", "lmn")`

[Wort

[2016-08-25 17:14] lmullen commented on #22
Sure. That's just an n-gram tokenizer where the units are characters instead of words. Can you please try the `tokenize_character_shingles()` function in this branch?

https://github.com/ropensci/tokenizers/tree/shingle-characters

[2016-08-25 18:17] dselivanov commented on #22
cool, I thought it will be much slower. Interesting fact: `strsplit(txt, "", FALSE)` twice faster than `stri_split_boundaries(txt, type = "character")`

[code]

[2016-08-25 18:37] lmullen commented on #22
Interesting observation. Do you think the speed gain is at the cost of correctness for strings which have multibyte characters? I'd rather just stick with stringi. I tested this on a corpus with 2.5 million words and `strsplit` saved less than half a second. So the time savings is negligible for even a mid-sized corpus.

Are the default arguments for `tokenize_character_shingles()` reasonable? If

[2016-08-25 18:47] dselivanov commented on #22
I don't think it worth to change `stri_split_boundaries` to `strsplit` - as you pointed the difference is very small. `tokenize_character_shingles` looks good to me.

[2016-08-29 14:47] #22 closed

[2016-08-29 14:47] lmullen commented on #22
This function is on master now. I'll release the new version soon.

[2016-08-29 22:06] #19 closed

[2016-09-02 12:13] masalmon opened #23 "R-devel / Travis"
I have `tidytext` as a dependency in my `monkeylearn` package and therefore need to install `tokenizers` (one `tidytext` function I use is `unnest_token`). The Travis build fails on R-devel https://travis-ci.org/ropenscilabs/monkeylearn/jobs/157061868#L3294 "ERROR: compilation failed for package ‘tokenizers’". Do you have any idea what could cause this? Thanks!

[2016-09-02 12:55] lmullen commented on #23
The problem is a bug in Travis, I've been told. The problem has to do with the way that the Make variables are configured for compiling the package with C++11. I fixed in the commit below thanks to advice in the rOpenSci Slack. The commit makes changes to the Travis configuration.

https://github.com/ropensci/tokenizers/commit/a5580ed7a3042f55104645324f34456a6477c39c

I'm going to close this issue

[2016-09-02 12:55] #23 closed

[2016-09-02 13:00] maelle commented on #23
Perfect, thanks a lot!

[2016-10-04 18:46] koheiw opened #24 "Incorrect skipgrams"
I expect skipgrams with k=2 to produce

[code]

But I am getting

[code]

K=1 is not affecting the behaviour of the function.

[code]

[2016-10-05 13:44] lmullen commented on #24
@koheiw: The input in the example you give is too short for what you are asking. You have an input string which will tokenize to five words, but the window when `n = 3` and `k = 2` is 7 words. You get the output that you expect if you use a longer input string. For example:

[code]

That returns:

[code]

And if I test for the output you expected, they are all there:

[code]

Now, the function sho

[2016-10-05 13:58] koheiw commented on #24
I run your command, but got a very different result. Correct me if I am wrong.

[code]

[2016-10-05 15:14] lmullen commented on #24
Can you please post the results of `sessionInfo()`?

[2016-10-05 15:24] koheiw commented on #24
Here it is. Thank you for investigating this issue.

[code]

[2016-10-05 16:57] lmullen commented on #24
I had an error in the code above. It really should be `test %in% out[[1]]`.

But looking more closely at the things that you are expecting, some of them don't belong. For instance, `"a b d"` has a skip of one between `b` and `d` but not between `a` and `b`, which would never happen. Same with `"a c d"`.

[2016-10-05 17:21] kbenoit commented on #24
This is really a definitional debate then... We defined skipgrams in **quanteda** following [Guthrie, D., B. Allison, W. Liu, and L. Guthrie. 2006. "A Closer Look at Skip-Gram Modelling."](http://homepages.inf.ed.ac.uk/ballison/pdf/lrec_skipgrams.pdf):

So this would include "a b d" and "a c d". The output we programmed matches this, for instance their "2-skip-tri-grams" from the paper are matched

[2016-10-05 19:31] lmullen commented on #24
@kbenoit That's an interesting citation that I wasn't aware of. We will have to take account of this.

@dselivanov What are your thoughts? I'm thinking that I should take a look at the skipgrams in quanteda and modify our implementation. For the kind of applications I've been using, especially since there is often noisy OCR interpolated between the real words, that kind of definition of skip grams

[2016-10-05 19:35] lmullen commented on #24
BTW, @kbenoit, glad to hear you are thinking about tokenizers for quanteda. Let us know if you have any particular improvements that you think would be useful.

[2016-10-05 20:01] dselivanov commented on #24
@lmullen I can only add that I'm disappointed that @kbenoit & co decided to reimplement some features that have already been in text2vec for quite some time and on which I spent a lot of time (feature hashing and co-occurences - see https://github.com/kbenoit/quanteda/branches).

Especially because of some edge cases that not every developer can realize.

[2016-10-05 20:01] kbenoit opened #25 "integration into quanteda as a core tokenizer"
I started to continue our comments on #24 but thought it best to start a new issue.

As for **quanteda**, we are thinking of an rOpenSci-type overhaul of the API that would be a major change. (The cleanness of the tokenizers API is an inspiration.) See https://github.com/kbenoit/quanteda/blob/quanteda0_9_9/API.md. Comments most welcome.

There are some API changes I might suggest to **tokenizers**

[2016-10-05 20:02] dselivanov commented on #24
Instead of implementing something new and useful for community.

[2016-10-05 20:05] lmullen commented on #24
@dselivanov Well, everyone is free to implement whatever they like. While I think that some convergence of the many options for text analysis in R is desirable, I think that is far more likely to happen in the R environment by working together to make our packages inter-operable rather than by asking everyone to pick a single package.

[2016-10-05 20:20] dselivanov commented on #24
vs

[2016-10-06 00:21] lmullen commented on #25
@kbenoit I like where you are going with your API. It seems like wrapping tokenizers would best happen inside quanteda. But if you think it would be helpful to provide conversion functions or the like directly in tokenizers, please let me know.

Is there already a hashtag/twitter tokenizer in quanteda? We could add one to tokenizers if you like.

[2016-10-06 09:52] kbenoit commented on #25
OK, will do on the possible **tokenizers** tweaks that would aid integration. What's the best way? a list added to this issue?

`quanteda::tokenize()` calls many of the same **stringi** functions that your package does, but with more options. We preserve the special Tweet characters through substitution prior to punctuation-obliterating tokenizing, and then replace. Slow but I am not sure what the

[2016-10-06 11:50] lmullen commented on #25
Sure, a list added to this issue would be fine.

The tokenizer for Twitter should be its own function: `tokenize_tweets()` or something like that.

Instead of substituting, have you tried stripping only some of the punctuation so that you leave `@#`, then splitting on white space? Might be faster and yet reliable enough.

[2016-11-15 17:43] statspro1 opened #26 "Remove requirement for C++11"
Downloading GitHub repo ropensci/tokenizers@master
from URL https://api.github.com/repos/ropensci/tokenizers/zipball/master
Installing tokenizers
'/usr/lib64/R/bin/R' --no-site-file --no-environ --no-save --no-restore  \
  --quiet CMD INSTALL  \
  '/tmp/RtmpbgvQJi/devtoolsb60b681e3651/ropensci-tokenizers-4db5f6c'  \
  --library='/home/R/x86_64-redhat-linux-gnu-library/3.2'  \
  --install-tests

*

[2016-11-15 17:50] dselivanov commented on #26
I'm pretty sure you need newer c++ compiler. At least gcc/g++ 4.7+

2016-11-15 21:43 GMT+04:00 statspro1 notifications@github.com:

##

Regards
Dmitriy Selivanov

[2016-11-15 17:53] statspro1 commented on #26
$gcc --version
gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-17)
Copyright (C) 2010 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

Can anyone help with upgrade instructions?

Thanks,

[2016-11-15 17:56] dselivanov commented on #26
I would suggest to google something like "centos 6.8 gcc upgrade". Let us
know if you will have problems.

2016-11-15 21:53 GMT+04:00 statspro1 notifications@github.com:

##

Regards
Dmitriy Selivanov

[2016-11-15 18:24] statspro1 commented on #26
I did upgrade Centos but I am having the same issue.

cat /etc/centos-release
CentOS release 6.8 (Final)

gcc --version
gcc (GCC) 4.8.2 20140120 (Red Hat 4.8.2-15)

Thanks,

[2016-11-17 09:54] dselivanov commented on #26
@statspro1 `g++ --version` ?
`~/.R/Makevars` standart ?

[2016-11-17 20:07] statspro1 commented on #26
@dselivanov

g++ --version
g++ (GCC) 4.8.2 20140120 (Red Hat 4.8.2-15)

nano ~/.R/Makevars
CXXFLAGS = -O3  -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=ssp-buffer-size=4 -m64 -mtune=generic $(LTO)  #set_by_rstan
R_XTRA_CPPFLAGS =  -I$(R_INCLUDE_DIR)   #set_by_rstan

[2016-11-17 20:37] dselivanov commented on #26
Hm, looks strange.. I noticed that it compiles with `-std=c++0x`, not `-std=c++11`. Can you try to set `PKG_CXXFLAGS = -std=c++11` in your Makevars ?

[2016-11-17 21:55] statspro1 commented on #26
@dselivanov

cc1plus: error: unrecognized command line option "-std=c++11"
make: **\* [RcppExports.o] Error 1
ERROR: compilation failed for package ‘tokenizers’
- removing ‘/home/R/x86_64-redhat-linux-gnu-library/3.2/tokenizers’

[2016-11-17 23:35] statspro1 commented on #26
@dselivanov

When I run system('g++ -v') from R,  I get gcc version 4.4.7 20120313. Not sure I understand.
Using built-in specs.
Target: x86_64-redhat-linux
Configured with: ../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-bootstrap --enable-shared --enable-threads=posix --enable-checking=release --with-system-z

[2016-11-18 00:14] statspro1 commented on #26
Also:

[2016-11-19 12:45] dselivanov commented on #26
@statspro1 I have no idea why this happens. I suggest to ask stackoverflow.

[2017-01-03 08:51] mo58 commented on #26
When I say

`install.packages("tokenizers")` in R. I get the following output:

* installing *source* package ‘tokenizers’ ...
** package ‘tokenizers’ successfully unpacked and MD5 sums checked
** libs
g++ -m64 -std=c++0x -I/usr/include/R -DNDEBUG  -I/usr/local/include -I"/usr/lib64/R/library/Rcpp/include"   -fpic  -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=s

[2017-01-03 15:48] mo58 commented on #26
I have fixed this :] Just be careful with the gcc version (I did it with 4.9.1) when you install it. An user can have a different version than the sudo/root. Just to avoid this, set the new version of the gcc explicitely with for example  `scl enable devtoolset-3 bash`. Or put this in your .bash_profile file. Becareful that Rstudio can use another gcc version. Just install the tokenizers package i

[2017-01-04 15:09] lmullen opened #27 "Ideas for other tokenizers"
- extract noun phrases as in word2vec and the wordVectors package

[2017-01-29 05:38] jrnold commented on #12
Hey, here was my attempt at  Penn Treebank Tokenizer: https://gist.github.com/jrnold/c4867ddf82b2913803d2. Do you want it merged?

[2017-01-31 18:35] lmullen commented on #12
@jrnold Can you please provide a link to the code you derived this from? Also, can you please include some benchmark results from microbenchmark on some suitable text? I'd like to get a sense of the performance.

[2017-01-31 21:02] jrnold commented on #12
It's pretty much direct port of the [NLTK TreebankWord Tokenizer](https://github.com/nltk/nltk/blob/2c1966bb469d8a279d82e257a10d6c9da7ebc8e0/nltk/tokenize/treebank.py)

Do you have text you'd like it benchmarked on?

[2017-01-31 21:12] lmullen commented on #12
You could compare it to the texts that are used in the examples, and maybe
one longer one. I always use Moby Dick. I'm more interested in the
comparison between it and say a word tokenizer or ngram tokenizer.

On Tue, Jan 31, 2017 at 4:02 PM, Jeffrey Arnold <notifications@github.com>
wrote:

[2017-02-08 21:59] kevinbsc opened #28 "Installation failed on Microsoft R Server"
* installing *source* package ‘tokenizers’ ...
** package ‘tokenizers’ successfully unpacked and MD5 sums checked
** libs
I/usr/lib64/microsoft-r/3.3/lib64/R/include -DNDEBUG  -DU_STATIC_IMPLEMENTATION -I"/home/bchae/R/x86_64-pc-linux-gnu-library/3.3/Rcpp/include"      -c RcppExports.cpp -o RcppExports.o
sh: I/usr/lib64/microsoft-r/3.3/lib64/R/include: No such file or directory
/usr/lib64/microsof

[2017-02-09 19:17] lmullen commented on #28
It is not possible for me to offer support for a proprietary platform. Are you able to compile any packages on Microsoft R Server? If you can submit a bug report using just Microsoft R Open I'll see if I can figure out why it is not compiling.

[2017-02-14 17:18] joshts0 commented on #28
I work for Microsoft on Microsoft R Open/server.

This is not actually an MRO issue directly, this issue comes from upstream R:

https://bugs.r-project.org/bugzilla3/show_bug.cgi?id=17189

You can see here...
I/usr/lib64/microsoft-r/3.3/lib64/R/include -DNDEBUG -DU_STATIC_IMPLEMENTATION -I"/home/bchae/R/x86_64-pc-linux-gnu-library/3.3/Rcpp/include" -c RcppExports.cpp -o RcppExports.o
sh: I/usr/lib

[2017-02-15 03:50] #28 closed

[2017-02-15 03:55] lmullen commented on #28
Thanks for the help, @joshts0.

[2017-02-19 21:06] jrnold commented on #12
On my computer, the PTB tokenizer was about twice as slow as `tokenize_words`:
[code]

[2017-02-20 03:03] lmullen commented on #12
By the figures you have there, the Penn Treebank tokenizer is 17 times
slower at the median time (note the units). For future reference:

[code]

What value does the Penn Treebank add? Isn't a part of speech tagger? But I
don't see how this differs from a word tokenizer.

On Sun, Feb 19, 2017 at 4:06 PM, Jeffrey Arnold <notifications@github.com>
wrote:

--
Lincoln Mullen
Assistant Professor, Depar

[2017-02-20 03:50] jrnold commented on #12
My bad.  I read it too quick.

The PTB tokenizer is a word tokenizer that generates tokens like those appearing in Penn Treebank before it was tagged. The Stanford CoreNLP and NLTK both use it as the default word tokenizer. Since many NLP tasks use PTB as training data, they want a tokenizer that produces the same tokens as those appearing in the PTB.

Browsing the [NLTK](http://www.nltk.org/_modu

[2017-02-20 03:58] lmullen commented on #12
Thanks for clarifying. Could you please send this function as a pull
request? You can follow the other models in `R`.

On Sun, Feb 19, 2017 at 10:50 PM, Jeffrey Arnold <notifications@github.com>
wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2017-03-07 22:24] lmullen opened #30 "Add function to chunk texts into smaller segments"
Suggested by @rccordell. Development in this branch. https://github.com/ropensci/tokenizers/blob/chunk-text/R/chunk-text.R

[2017-03-08 14:55] lmullen opened #31 "Add stopwords argument to `tokenize_skip_ngrams()`"

[2017-03-15 11:17] everdark opened #32 "`tokenize_ngram` deal with colon(:) inconsistently across different platforms"
Hi,

Recently I just came across one issue that make me confused.
On my macbook I will have the results:
[code]

However on my Ubuntu machine it becomes
[code]

If there is any space in between the colon and the other words then both case will be two tokens spearated.

My `sessionInfo` for two machines are as the followings:

[code]

[code]

Am I missing something about this difference? Is it a lo

[2017-03-25 20:39] lmullen commented on #32
Tokenization functions all call functions from the stringi package, which makes some determinations about word boundaries based on the locale. You might try using `stringi::stri_locale_set()` to set the locale on both machines to be the same.

[2017-03-28 14:54] wooopenr commented on #26
what would be the correct syntax to install tokenziers then? I have Linux redhat 6.8 and gcc-c++ 4.4.7

[2017-03-28 18:08] lmullen commented on #26
@wooopenr I think you need gcc 4.7 or greater.

[2017-03-31 03:04] Ironholds commented on #26
Would avoiding C++11 code help with this? (I don't see where it, strictly-speaking, *needs* C++11, and this would widen the package usage somewhat).

If that's an acceptable outcome I'm more than happy to make the changes myself, this clears up an issue with tidytext, which I'm doing some tweaking of.

[2017-03-31 03:21] Ironholds commented on #26
(FWIW as a C++ dork with some suddenly-freed-up-time I'm more than happy to help out with the compiled component of the package as a general thing!)

[2017-03-31 03:36] lmullen commented on #26
@Ironholds Yes, undoubtedly removing the C++11 requirement would help some people.

It's very generous of you to offer your expertise. The compiled portions were originally contributed by @dselivanov but I'd be fine with you removing the C++11 requirement as long as performance doesn't take a major hit. He may want to weigh in.

My other major item on my wish list, if you have time and are so incl

[2017-03-31 03:37] #11 closed

[2017-03-31 03:38] lmullen commented on #11
Not going to change this because #24 is the actual problem.

[2017-03-31 03:58] Ironholds commented on #26
Ooh fun. Okay, I'll take a stab at it and do my best (I can actually see a couple of points where it's designed less-than-efficiently and I could *improve* speed!)

[2017-03-31 04:15] Ironholds commented on #26
@wooopenr can you try `devtools::install_github("ironholds/tokenizers")` and see if that works? I've reworked the code as C++98 rather than C++11, which should widen the range of compilers it works on. If it does, I'll push it up to the main repo.

@lmullen in terms of speed this actually makes it slightly *faster* - not because C++98 is faster, but because I pointed a spot where a vector (compris

[2017-03-31 10:28] dselivanov commented on #26
@Ironholds, It is far less bad compared to R. C++ memory allocation as very different from R's append. Especially when we reuse this vector-buffer. `clear` just set size to 0, but **it doesn't shrink the memory**, so on subsequent calls there should not be memory allocations. But yes, `deque` can be a little bit more efficient in this case.

[2017-03-31 10:37] dselivanov commented on #27
This is done in `text2vec::Collocations` (with more heuristics). Actually this is not related to `word2vec` algorithm at all.
Check this issue for inspiration https://github.com/dselivanov/text2vec/issues/99.

This also can be improved with information about POS tags. For example check [phrasemachine](https://github.com/slanglab/phrasemachine). I didn't try it yet, but it looks interesting.

[2017-03-31 22:16] Ironholds commented on #26
Yeah, that's fair - although presumably there will be if different input vectors are of different lengths, no? That is, if I pass in a list of 3 vectors of 1, 3 and 6 elements, there will be 1, 2 and 3 allocations respectively, clear() aside.

[2017-03-31 22:17] Ironholds opened #33 "NA support?"
It should be possible to have the tokenisers and ngram generators:

1. Return NA when an NA is passed in;
2. Ignore NAs in input stopword lists;
3. Return NAs for empty output vectors.

Which of these are desirable, if any?

[2017-03-31 23:02] Ironholds commented on #5
Wordnet seems like a good approach to take but it's pretty substantial in terms of codebase, and a certain amount ornery around windows. There's also [LemmaGen](http://lemmatise.ijs.si/Documents), which is sat in C++, appears a lot less complainy when it comes to multi-platform installs, and has support for a ton of non-EN languages too.

In both cases I guess I'd worry about how it'd increase the

[2017-04-01 14:51] lmullen commented on #5
@Ironholds Yes, it might be a good idea to break them out into separate packages. There is a wordnet package already (https://cran.rstudio.com/web/packages/wordnet/) but I haven't looked closely at its functionality, and ideally this would be possible without using Java.

I have no immediate plans to add this functionality here or in a separate package, but this issue is just to remind me to look

[2017-04-01 15:47] lmullen commented on #33
Here is the current output that I get for those scenarios.

[code]

So we don't fail on any of those inputs, but the output is inconsistent. I think we definitely want (1) and (3) from your list above, @Ironholds, to be true, so that NA's are returned. I don't currently see a problem with (2), unless I'm missing something.

[2017-04-01 16:04] lmullen commented on #32
I've looked into this more closely. I can't reproduce the problem on an Ubuntu 16.04 machine, because the locale is the same as on my Mac OS X machine. In any case, I'm sure that the reason for the difference is the locale setting, which stringi picks up. You should use either `Sys.setlocale()` or `stringi::stri_locale_set()` to ensure that you are using the same locales on all machines.

[2017-04-01 16:04] #32 closed

[2017-04-01 16:05] lmullen commented on #30
This has been merged into master, but some work still needs to be done:

- [x] Check documentation
- [x] Check performance
- [ ] Add tests

[2017-04-01 16:13] lmullen commented on #27
@dselivanov Ah, brilliant. I'll look forward to using that soon. Going to close this issue, then.

[2017-04-01 16:13] #27 closed

[2017-04-01 17:03] lmullen commented on #26
@Ironholds Thanks for taking this on. I think it will be helpful to not depend on C++11, which has been the biggest source of bug reports (even if the problem is just people's older compilers).

In testing your version on a smallish corpus, I'm seeing a slight decrease in performance. I'm running the attached script with `Rscript --vanilla`. Can you please try running this benchmark and let me kno

[2017-04-01 17:13] lmullen commented on #25
@kbenoit Gearing up for another release of tokenizers and thought it would be good to take on this issue. What do you think would make tokenizers more useful for quanteda? Happy to wait on this till after the conference if you think we will take this up there.

[2017-04-01 17:25] #20 closed

[2017-04-01 20:13] Ironholds commented on #26
Ooh, I didn't know you could attach files to GitHub comments. Neat!

I'm seeing a slight difference at my end, but only slight.

C++11:

[code]

C++98:

[code]

So actually slightly faster worst-case, at my end. Mind you, it's 20 iterations on 2 different CPUs and shouldn't be trusted to be a uniform experience, so I wouldn't take the better worse-case in my test as a guarantee.

[2017-04-01 20:13] Ironholds commented on #5
Gotcha! Okay.

[2017-04-01 20:18] Ironholds commented on #33
Sounds good! Interesting - maybe Rcpp changed how it handles NAs? Or I'm missing a chunk of the code - basically historically NA_STRING got turned into the string 'na' if forcibly converted, meaning that if you had 'na' in the text you were checking against..yeah. Looks like it doesn't appear here, though.

Alright, I'll add this to the to-do (just as soon as the existing patch is merged. Do we kn

[2017-04-01 20:27] lmullen commented on #26
@Ironholds I think the difference here is trivial. So I'll be glad to merge your version if you send a pull request.

Just a note: glad to see that you added yourself in the DESCRIPTION, but there is a small error in your Authors@R.

[2017-04-01 20:29] lmullen commented on #26
And as for testing on an old compiler, I'll see if I can do it on one of the servers at my university, or in Docker.

[2017-04-01 20:35] Ironholds commented on #26
*thumbs up*. Yeah, spotted the error this morning, should now be fixed in my fork. I'll throw it in as a PR now but fwiw I'd definitely advocate testing before merging, given that it's an open issue rather than an enhancement.

[2017-04-01 20:41] lmullen commented on #26
Hmm. The local sysadmin moved us from CentOS to Ubuntu at my request, and apparently the university computing cluster upgraded the cluster to gcc 5.2. So I no longer have ready access to out of date compilers. :-) I'll test the PR on Docker, though.

[2017-04-01 20:44] #26 closed

[2017-04-01 21:13] lmullen commented on #26
I've tested this on CentOS 6.8 with R 3.3.3 and g++ 4.4.7. Compilation of the current CRAN version (which requires C++11) failed, but compilation of the current master branch was successful. So I'm closing this issue. Thanks very much, @Ironholds.

[2017-04-01 22:16] Ironholds commented on #26
yay!

[2017-04-01 22:26] Ironholds commented on #31
I'll work on this next - can I suggest assigning #31 and #33 to me? Also happy to do #24 but I'm not sure if I have a sufficient background in this kind of text processing - if someone were to write out really inefficient R pseudocode for what you want, though, I could turn it into C++ no trouble.

[2017-04-01 22:37] Ironholds commented on #33
You want this for skip_ngrams too? that is, NA rather than an empty vector?

[2017-04-01 22:45] lmullen commented on #31
@Ironholds You're welcome to tackle #31 and #33. For some reason I can't assign you the issues in GitHub at the moment, probably because rOpenSci owns the repo not me. But they are all yours.

I'm going to take a stab at #24 then let you clean up my C++. :-) It might take me a while to get to it, so if you finish the others and want something else to do, let me know and I'll mock something up.

[2017-04-01 22:46] Ironholds commented on #31
Sounds good!

[2017-04-01 22:58] lmullen commented on #33
@Ironholds Yes, that'd be great.

[2017-04-01 23:56] lmullen commented on #24
There is a Python implementation here based on the paper @kbenoit and @koheiw cite above: http://stackoverflow.com/questions/31847682/how-to-compute-skipgrams-in-python

[2017-04-02 04:56] #33 closed

[2017-04-02 05:00] lmullen opened #36 "Word counting"
Add a function to do fast word counts. stringi has a function that can be used.

[2017-04-02 09:04] Ironholds commented on #36
Asking Drew to expose the content of https://github.com/wrathematics/sylcount/tree/master/Rpkg could also be valuable, it's really efficiently written (I dunno if he's planning on putting it on GitHub though)

[2017-04-02 18:48] Ironholds opened #37 "Add keyboard interrupts"
The vectorised C++ functions should have keyboardinterrupt() checks. I'll work on this one.

[2017-04-02 23:23] Ironholds commented on #24
*appears, as requested*

what's the latest?

[2017-04-02 23:40] lmullen commented on #24
@Ironholds I've figured out how to do the correct skip grams in a way that I think will be both performant and correct. I'm working on this on the skip grams branch.

https://github.com/ropensci/tokenizers/blob/skipgrams/R/ngram-tokenizers.R#L99

Here's the idea. The R function `tokenize_skip_ngrams()` will call the function `get_valid_skips()` linked above. This produces a list of 0-indexed word

[2017-04-02 23:45] lmullen commented on #24
@Ironholds Also, I just pushed some tests drawn from the paper above for valid skip gram output. So now that branch is failing, which is to be expected.

[2017-04-03 00:24] Ironholds commented on #24
Definitely happy to work on it! Wouldn't it return a list, rather than a vector?

[2017-04-03 00:41] lmullen commented on #24
Yes, good point. It would be a list with one element for each input document to `tokenize_skip_grams()` with each element containing a character vector of tokens.

[2017-04-03 00:53] Ironholds commented on #24
*thumbs up*, want me to just put the skipgrams-branch code in my fork so you can review it all at once?

[2017-04-03 01:04] lmullen commented on #24
Yes, that'd be perfect.

🚀

[2017-04-03 01:09] lmullen opened #39 "Submit paper to JOSS"
@Ironholds @dselivanov @jrnold I intend to submit this package as a paper to the [Journal of Open Source Software](http://joss.theoj.org/). The package has already been peer reviewed by rOpenSci, so I anticipate that this will be a formality. But it will make our work more citable. When I've put together the submission materials I'll run them by you. But I want to get everything into shape for the

[2017-04-03 13:35] Ironholds commented on #24
Er. So I've implemented it but not run it because I'm pretty sure there's a use-case in which it'll segfault; specifically, how will it handle stopwords in generating the skipgram indices?

[2017-04-03 14:32] lmullen commented on #24
I don't think that should be a problem as long as stop words are removed from the input vector of words prior to looping over the vector of words. The index positions are independent of the input vector of words; they are generated only from the values of `n` and `k`. So if there are, say, 100 words in the input text, then after stopwords are removed there are only 80, that doesn't make a differen

[2017-04-03 14:42] Ironholds commented on #24
Ah, clever! Let's see what I can do with that.

[2017-04-03 14:46] Ironholds commented on #24
Output for the initial example is now:

[code]

Is this the desired behaviour? (should n=3 be excluding the length-2 entries? Code in the PR)

[2017-04-03 14:52] lmullen commented on #24
I made a change in the signature of the function. When someone is using skip grams it's because they want to get a lot of different tokens out of the input text (e.g., to deal with noisy OCR or to be robust to intentional changes when looking for text reuse). So I added an argument `n_min` as in the `tokenize_ngrams()` functions, so that users can get the n-grams for a range of `n`. Unlike in `tok

[2017-04-03 15:01] Ironholds commented on #24
Probably because I didn't pass n_min through. Lemme rerun.

[2017-04-03 15:05] lmullen commented on #24
@Ironholds The PR looks really good. I think we just have a git problem at this point.

You shouldn't need `n_min`: that is used to generate the list of skips, but once you have the skips you don't need `n_min`.

Does your fork have my changes in my `skipgrams` branch? E.g., I don't see `n_min` here:
https://github.com/Ironholds/tokenizers/blob/master/R/ngram-tokenizers.R#L106 That would also acco

[2017-04-03 15:10] Ironholds commented on #24
[code]

Now gets unigrams, but duplicatively, which looks to be because 'a d' (0, 4) is actually (0, 4, 6), and so when the Rcpp hits it, it doesn't bother including the 6th element, since it's a vector of 5. And since (0, 4) is already in the skiplist...yeah.

Got any suggestions for how to fix this in the skiplist logic? I imagine it's a classic off-by-one error caused by indexing differences. I

[2017-04-03 15:10] Ironholds commented on #24
And yep, I meant `n_min` being an argument to tokenize* at all! The merging I'll handle by hand when this is worked out, it looks like GitHub now has a nice clean web editor for merge collisions, which is nice.

[2017-04-03 15:19] lmullen commented on #24
So if I understand correctly, in the Rcpp function if you get a vector of indices `c(0, 4, 6)` and the vector of words is length 5, the function throws away only the `6` and not the whole vector of indices? Or am I misunderstanding?

[2017-04-03 15:24] Ironholds commented on #24
Precisely. And if we change it to throw away the whole vector - which we can, as a solution to this problem - then we lose the ability to allocate the output object efficiently, since it means the actual length of the output is non-deterministic. So fixing it in the skip generation would be better.

[2017-04-03 15:26] Ironholds commented on #24
Although thinking it through out loud, since skip generation is for the entire list of tokens, this is probably impossible to do correctly. I'll see if I can fix it in the compiled code without ruining performance.

[2017-04-03 15:36] lmullen commented on #24
Yes, I don't think it is possible to do fix it in the skip-index generation, since it's for the entire vector of words. I would think that given a vector of length w and the value of k and the range of values of n, it should be possible to get a formula for the total number of skip grams. This paper gives tables for different values of n, k, w and also a formula for a single value of n and k, but

[2017-04-03 15:37] Ironholds commented on #24
Think I've fixed it in the compiled code; running some tests and performance benchmarks now.

[2017-04-03 15:48] Ironholds commented on #24
Welp, it produces the right result:

[code]

And is also faster for large vectors!

[code]

Throwing it in the PR branch now; will resolve merge conflicts so you can accept it, unless you spot a goof in the output?

[2017-04-03 16:07] #31 closed

[2017-04-03 16:58] lmullen commented on #24
@Ironholds Hmm, sorry to impugn on your good graces, but I think there is a problem with the output.

[code]

produces

[code]

That output is correct for the skip indices at the first word, "this," but it doesn't look like it is iterating over the rest of the words in the sentence. Looking at the Rcpp code, it looks like there is not a loop that goes over the words.

I've also added some tests dr

[2017-04-03 17:08] lmullen commented on #24
Just pushed the tests which I forgot to do earlier.

[2017-04-03 19:13] Ironholds commented on #12
I feel like some of the speed problems could maybe be fixed by moving logic to C++, but would have to test to see. Want me to take a stab?

[2017-04-03 19:14] Ironholds commented on #12
Am I understanding https://gist.github.com/jrnold/c4867ddf82b2913803d2#file-gistfile1-r-L28-L44 correctly that basically you want to reduce it to just alphabetical characters?

[2017-04-03 19:16] Ironholds commented on #30
LMK if you run into performance implications and I'm happy to try moving it compile-side

[2017-04-03 20:19] lmullen commented on #12
@Ironholds If you're willing, I'm more than happy for you to speed this up.

Perhaps @jrnold can weigh in on your question about alphabetical characters. But my understanding is that a PTB treats "they'll" as two words "they" and "'ll", so that's what the logic is accounting for.

[2017-04-03 20:20] lmullen commented on #30
@Ironholds Will do.

[2017-04-03 20:52] Ironholds commented on #24
Oh, doh. Wait, so it should be, for each word, generating `paste(word, skips)`, as R pseudocode? And presumably dropping the skips value that corresponds to `word` if it appears in `skips`

[2017-04-03 20:56] kbenoit commented on #24
If you want to try to match the **quanteda** behaviour (see above...way above), here's an update using our latest API changes:
[code]

[2017-04-03 20:57] lmullen commented on #24
Yes, the index positions are the pattern for a window of skip grams, and that window has to be slid over every word.  By adding the value of the iterator for the word to the index positions in skips, you get new index positions. (Skip grams can generate an enormous number of tokens.) I should have noticed this earlier, but we were using very short input texts so I didn't.

[2017-04-03 20:58] lmullen commented on #24
@kbenoit Thanks for the update. That's helpful. That's exactly the text that I'm using in the tests here. https://github.com/ropensci/tokenizers/blob/master/tests/testthat/test-ngrams.R#L138

[2017-04-03 21:26] jrnold commented on #12
Nope, https://gist.github.com/jrnold/c4867ddf82b2913803d2#file-gistfile1-r-L28-L44 isn't reducing it to alphabetical characters at all. The PennTreeBank tokenizer does not remove punctuation Those regexes are standardizing quotes and punctuation, as well as adding spaces around punctuation so that they are tokenized separately.

[2017-04-03 21:41] Ironholds commented on #24
Gotcha. Okay, this'll impact performance some - I'll see what I can come up with.

[2017-04-03 22:42] Ironholds commented on #12
Aha!

[2017-04-04 03:39] Ironholds commented on #24
Hrm, and now I can't make it anything but duplicative. Wanna take a stab?

[2017-04-04 03:41] lmullen commented on #24
@Ironholds Sure, I'll make an attempt. Will have to give it a shot in the afternoon after tomorrow's classes.

[2017-04-04 04:16] lmullen commented on #24
@Ironholds How is this? Any potential problems I'm missing? https://github.com/ropensci/tokenizers/commit/0a952ef2b577c93f1fd56dc0cc7fc29372340831

The results are the same as quanteda and it passes the failing tests I added earlier, and performance seems acceptable.

[code]

[2017-04-04 04:18] #37 closed

[2017-04-04 04:33] Ironholds commented on #24
Ohh nice, I see where I was going wrong!

[2017-04-04 04:37] lmullen commented on #24
Okay, closing this then. Thanks for all your work on it!

[2017-04-04 04:37] #24 closed

[2017-04-05 15:05] sanjesk1 opened #41 "Trouble installing package "tokenizers" on R v3.2.3"
I downloaded tokenizers_0.1.4.zip and tried installing from the local zip file.  I get the following error message during installation.

"> local({pkg <- select.list(sort(.packages(all.available = TRUE)),graphics=TRUE)
+ if(nchar(pkg)) library(pkg, character.only=TRUE)})
Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  namespace ‘Rcpp’ 0.12.2 is already loa

[2017-04-05 15:11] lmullen commented on #41
I don't understand why you are using that system for loading packages.
Could you please post the output from running `library(tokenizers)` in a
new R session?

On Wed, Apr 5, 2017 at 11:05 AM sanjesk1 <notifications@github.com> wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2017-04-05 15:41] sanjesk1 commented on #41
I cannot see the package in the install menu.  Hence, downloaded and installed from local directory.  Trying to redo.  Thanks

[2017-04-05 15:52] lmullen commented on #41
Have you run `install.packages("tokenizers")`?

CRAN should provide a Windows binary.

On Wed, Apr 5, 2017 at 11:41 AM sanjesk1 <notifications@github.com> wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2017-04-05 15:55] sanjesk1 commented on #41
downloaded an older release and installed using local zip file.  Result of   'library(tokenizers)'

Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  namespace ‘Rcpp’ 0.12.2 is being loaded, but >= 0.12.3 is required
In addition: Warning message:
package ‘tokenizers’ was built under R version 3.2.5
Error: package or namespace load failed for ‘tokenizers’

[2017-04-05 15:57] sanjesk1 commented on #41
yes, that was the first thing I had done.  Results below.

Installing package into ‘C:/Users/IBM_ADMIN/Documents/R/win-library/3.2’
(as ‘lib’ is unspecified)
Warning message:
package ‘tokenizers’ is not available (for R version 3.2.3)

[2017-04-05 16:26] sanjesk1 commented on #41
upgraded R to 3.2.5.  Installed "tokenizers" successfully. Thanks for your help.

sanjeev

[2017-04-05 16:31] lmullen commented on #41
Glad it works.

[2017-04-05 16:31] #41 closed

[2017-04-06 01:20] #36 closed

[2017-04-06 15:34] kbenoit commented on #25
OK, we've been thinking about it and discussing it and here is the best current summary of my thoughts. It's a lot, and I would be happy to create separate issues as you prefer, but let me know which are worth pursuing.

## Ways to implement segmentation

The basic point of a tokenizer is to segment a text into word, character, or sentence units. (We could add others to that but that's the basic u

[2017-04-06 17:18] kbenoit commented on #25
BTW I like the idea of a separate segmenter for Tweets. My inner autistic child is cringeing though if it's called `tokenize_tweets` however since that refers to a third element, which is the text type.

But the idea is good since it could use special handling for @names #hashtags and URLs, which would be unnecessary and costly in other contexts.

[2017-04-06 23:03] lmullen commented on #25
@kbenoit Thanks for thinking this through in such detail. I've been mulling this over today, and here are some thoughts.

First, I think that all of these suggestions will have to go into tokenizers v0.3. We're close to a v0.2 release with the corrected skip n-grams and other improvements, and I'd like to get that out the door. But this will give us time to work out how to implement you suggestion

[2017-04-07 06:50] Ironholds commented on #12
It looks like I can shave some time off it, although we're probably talking ms rather than seconds - basically by writing C++, find()-based utils for some of the simpler string manipulations, we can cut runtime for them by about 4/5ths. We'll see how it shapes up in practice.

[2017-04-07 06:51] Ironholds commented on #12
(Is the order in which operations are performed crucial?)

[2017-04-07 06:54] Ironholds commented on #25
(Chipping in pseudorandomly): this makes sense to me, although tweet-handling seems a very specific use case. My one pedantic comment is I think the segmenter params should go at the end - probabilistically it's the default value the base user is least likely to want to mess with, so moving it to the end allows for nameless values for other components.

[2017-04-07 15:06] lmullen commented on #12
@Ironholds I don't think the order of operations is critical, though perhaps @jrnold can confirm.

[2017-04-07 15:07] lmullen opened #42 "Deprecate tokenize_regex()"
Deprecate this function since it will become a segment function in a later release, and it's not really useful now. And remove it from the vignette/README.

[2017-04-07 15:10] lmullen opened #43 "Update README and vignettes for new release"

[2017-04-07 16:32] kbenoit commented on #25
Great discussion started here and look forward to discussing further in 2 weeks!

[2017-04-08 22:29] Ironholds commented on #12
Having dug into this, I suspect the performance implications are small enough that it's probably not worth the finnickiness of the code. So this may well be done!

[2017-04-08 23:55] #42 closed

[2017-04-08 23:56] lmullen commented on #12
@Ironholds Thanks for looking into it. Keeping this issue open at the moment just to remind myself to review the documentation but otherwise considering this done.

[2017-04-08 23:58] lmullen commented on #39
@jrnold @kbenoit Any suggestions for citations for this paper? I'm looking through the literature and have a few that I might add. But perhaps you know of a few things that we really ought to cite.

[2017-04-12 17:32] jrnold commented on #12
Thanks @Ironholds

[2017-04-12 17:33] jrnold commented on #39
What sort of citations are you looking for? The Denny & Spirling paper on the importance of preprocessing maybe of use: http://www.nyu.edu/projects/spirling/documents/preprocessing.pdf

[2017-04-12 19:21] kbenoit commented on #25
Great discussion here.

A few thoughts on the part before the **Proposal** section:

-  (As you know) I wrote a `tokenize_tweets()` that is consistent with the API for v0.2 but inconsistent with below, but we can modify this once the v0.3 API issues are decided (as one of several functions that will change).

-   On the complexity of `quanteda::tokens()`:  We agree, it’s become too complex.  Our n

[2017-04-13 07:52] dselivanov opened #45 "Way of committing to repo"
I'm glad to see that `tokenizers` emerges to a common block for different packages. Also I see great discussion here - #25.
What is **critical** in my opinion is to ensure all stakeholders understand how API changes with every commit which introduce additional fields in output or if format changes (and can break dependent packages). So I want to ask to **discuss such changes in pull requests** whi

[2017-04-13 17:16] lmullen commented on #45
@dselivanov Yes, that's a good suggestion. I agree that for any major changes and certainly for all breaking changes that there should be a PR to allow for the discussion.

I have a few changes I need to make for v0.2 but they aren't breaking, but once development starts on v0.3 we should all follow this model.

[2017-04-13 17:25] lmullen commented on #25
@kbenoit You're right to point out that those methods of removing the stopwords are inefficient. Those are some potentially slow parts of the code that I would like to evaluate. In my comment about efficiency, I was thinking a better model was what is being done in skip-n-grams, e.g., https://github.com/ropensci/tokenizers/blob/master/src/skip_ngrams.cpp#L11 But that's all a very minor point, and

[2017-04-13 17:27] lmullen commented on #39
@jrnold Thanks for the suggestion. That's the kind of thing I was thinking of. While none of what we are doing here is controversial, it would be good to have a few citations.

[2017-04-15 08:58] Ironholds commented on #45
That sounds good to me. The API should be expected to be unstable <1.0.0 from a user POV, but agreement within the dev community is key.

[2017-04-17 13:56] randomgambit opened #46 "is there a dictionary of stop-words?"
Hello,

I was wondering is there was a dictionary of stop-words available in `tokenizers`. I plan to use this package along with `text2vec` but I dont see any way to remove stopwords...

Any ideas?

Thanks!

[2017-04-17 13:59] #46 closed

[2017-04-17 13:59] randomgambit commented on #46
my bad, I just found out the option.

[2017-04-17 14:12] randomgambit opened #47 "can we use alternative lexicons?"
Hello again,

I am wondering if `tokenizers` can use user-provided lexicons to `tokenize` a document.

Something similar to http://tidytextmining.com/sentiment.html where one can use either the `afinn`, `bing`, `nrc` and the very well known `lougran` lexicon (https://www3.nd.edu/~mcdonald/Word_Lists.html) to only keep meaningful words in a document (BEFORE getting the `dtm` matrix)

Is it possible

[2017-04-17 14:16] dselivanov commented on #47
I think this is more text2vec question. You can create vocabulary with you list of words instead of inheriting it from data:
[code]

[2017-04-17 14:28] randomgambit commented on #47
@dselivanov OK that is interesting, thanks!

If I understand well, `create_dtm` will map every document to the `vv` vocabulary, which means it will be **only** considering the words that map to the original lexicon in `v`.

May I ask just a follow up question? I am not sure how to use `tokenizers` along with `text2vec`. In particular, there seem to be some redundancy between `tokenizers::tokenize_

[2017-04-17 14:38] dselivanov commented on #47
`create_dtm` will map every document to lexicon `v` using vectorizer `vv`( vectorizer is a function which maps words to indices). So yes, only words which are in `v` will be considered. Other words will be omitted.

Regarding second question - yes, there is such redundancy. This is because `tokenizers` works well not only with text2vec. If you need ngrams in text2vec then use tokenizers to just to

[2017-04-17 14:41] #47 closed

[2017-04-17 14:43] randomgambit commented on #47
Thanks @dselivanov @lmullen  for your time. I did go through all the vignettes, but sometimes it is just hard to see the big picture.

Keep up the great work!

[2017-04-21 13:46] #45 closed

[2017-04-21 13:54] lmullen opened #48 "Punctuation options"
Some tokenizers have options to strip or retain punctuation and numbers. These options should also be present in the word and n-gram tokenizers.

- [x] `tokenize_words()`
- [ ] `tokenize_ngrams()`
- [ ] `tokenize_skip_ngrams()`

[2017-04-21 14:31] lmullen commented on #48
The `punct-options` branch now has options for preserving punctuation in `tokenize_words()`.

@kbenoit Does this do what you expect it to do?

[2017-04-22 11:13] lmullen commented on #48
Not going to do this for n-grams. Works for word tokenizer.

[2017-04-22 11:13] #48 closed

[2017-04-22 12:54] lmullen opened #49 "Comply with text interchange format, perhaps also adding vignette"
The aim is to meet the standards for this proposal from the text workshop.

https://github.com/ropensci/textworkshop17/issues/14

[2017-04-23 09:32] dselivanov commented on #49
I was thinking about all implications of having single flat `data.frame` as single default format. There are several drawbacks. It will be inconsistent to what base `strsplit` and `stringi::stri_split*` produce - list of vectors. So construction of data frame from this will take time, consume memory. For pos tagging and dtm construction it will be needed to split it to list of vectors again... So

[2017-04-23 13:23] kbenoit commented on #49
I agree with @dselivanov about the drawbacks of a data.frame-only format. There is also the issue that parallelisation works more mainly (only?) on lists. However I don't think we decided to change the default list format, but rather to create coercion methods to use the data.frame as the interchange format.

BTW the performance disadvantages of data.frames vanish if you make them a data.table for

[2017-04-23 14:45] lmullen commented on #49
I agree that we definitely need to keep the current list of tokens format for tokenizers, for both performance and compatibility reasons.

You can see the `interoperability` branch for some functions that I've added to convert between list and data frame formats. https://github.com/ropensci/tokenizers/tree/interoperability

The function to convert to a data frame is really slow. I know they don't

[2017-04-23 14:52] dselivanov commented on #49
It is possible to make data.frame without lapply, rbind. I will send PR.

[2017-04-23 14:59] lmullen commented on #49
🚀

[2017-04-23 15:01] kbenoit commented on #49
You just need to make sure there are names for each "document" before this:
[code]

or
[code]
if you don't want row names

[2017-04-23 15:06] lmullen commented on #49
Ah, makes sense. I didn't realize `rep()` was vectorized in that way.

[2017-04-25 14:08] dselivanov opened #50 "Lower level C++ api with external pointers"
The idea is to have option to receive `vector<vector<string>>` instead of list of character vectors (for example  it can look like `tokenize_words(..., as_xptr = TRUE)`).

So packages can use lower level API.
In particular I will be able to depreciate ngram-generation functionality in text2vec and rely solely on tokenizers (and to avoid [such confusion](https://github.com/ropensci/tokenizers/issue

[2017-04-25 17:26] lmullen commented on #50
@dselivanov Sounds like a good idea.

[2017-04-25 21:12] lmullen opened #51 "Low-level parallelism with RcppParallel"
Just as in quanteda, the functions which call Rcpp versions should be parallelized with RcppParallel. They should all have an argument that sets the number of cores: `cores = getOption("mc.cores")` probably defaulting to 2 if that option is not set.

[2017-04-29 14:33] rajkorde opened #52 "Inconsistent tokenizing when numbers are followed by a period"
Tokenization is inconsistent when numbers are followed by a period. In the example below, we23.exe gets tokenized but not icecream.exe.

d <- c("I like we23.exe", "I like icecream.exe")
 tokenize_words(d)
[[1]]
[1] "i"    "like" "we23" "exe"

[[2]]
[1] "i"            "like"         "icecream.exe"

[2017-04-29 16:42] lmullen commented on #52
Thanks for the bug report, @rajkorde. However these kinds of decisions about word boundaries aren't made directly by tokenizers. They made by the stringi package, which in turn relies on the ICU library. If you think that these are in error, I'd encourage you to file a bug report in one of those two places.

A development version of tokenizers should soon support tokenization by white space, which

[2017-04-29 16:42] #52 closed

[2017-04-30 03:02] Ironholds commented on #50
So would this be dependent on stringi?

[2017-04-30 03:02] Ironholds commented on #51
Want me to take this on?

[2017-04-30 06:24] dselivanov commented on #50
I think so.
I will make some experiments with simple whitespace tokenizer and post some results here.

[2017-05-01 12:38] lmullen commented on #51
If you're willing, that would be great.

On Sat, Apr 29, 2017 at 11:02 PM Oliver Keyes <notifications@github.com>
wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2017-05-15 22:03] lmullen opened #53 "Add Jockers stopwords"
http://www.matthewjockers.net/macroanalysisbook/expanded-stopwords-list/

[2017-05-16 11:28] fahadshery opened #54 "Error: could not find function "%>%""
Error when executing:

`james <- paste0(
  "The question thus becomes a verbal one\n",
  "again; and our knowledge of all these early stages of thought and feeling\n",
  "is in any case so conjectural and imperfect that farther discussion would\n",
  "not be worth while.\n",
  "\n",
  "Religion, therefore, as I now ask you arbitrarily to take it, shall mean\n",
  "for us _the feelings, acts, and e

[2017-05-16 12:16] lmullen commented on #54
The `%>%` function comes from the magrittr package, which you need to load first as in the example in the README.

[2017-05-16 12:16] #54 closed

[2017-07-07 16:06] rlumor opened #55 "Installation Error"
install.packages("/cambrian_vol1/users/R/r_packages_install/tokenizers_0.1.4.tar.gz", repos=NULL, type="source")
Installing package into ‘/cambrian_vol1/users/R/R_LIBRARY’
(as ‘lib’ is unspecified)
* installing *source* package ‘tokenizers’ ...
** package ‘tokenizers’ successfully unpacked and MD5 sums checked
** libs
g++ -m64 -std=c++0x -I/usr/include/R -DNDEBUG  -I/usr/local/include -I"/usr/lib6

[2017-07-07 16:23] lmullen commented on #55
Please provide the session info and the version of your compiler.

On Fri, Jul 7, 2017 at 12:06 PM rlumor <notifications@github.com> wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2017-07-07 17:21] rlumor commented on #55
R version 3.3.2 (2016-10-31)
Platform: x86_64-redhat-linux-gnu (64-bit)
Running under: Red Hat Enterprise Linux Server release 6.8 (Santiago)

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11]

[2017-07-07 17:49] lmullen commented on #55
The problem is almost certainly that you have an old version of gcc that comes with RHEL/CentOS 6. You can either upgrade your gcc or you can install the development version of this package from GitHub. The development version removes the requirement for C++11.

[2017-07-07 17:49] #55 closed

[2017-08-24 22:42] patperry commented on #17
I might have fixed this in the development version of corpus, but I haven't done much testing (`text_tokens` gives the same results on both platforms with @lmullen's sample text); see https://github.com/patperry/r-corpus/issues/5 .

The basic problem is that `enc2utf8` is buggy on Windows.

[2017-10-18 08:33] dselivanov commented on #50
I've done some experiments couple of month ago. Don't think this will bring a lot of speed-up (as I remember only 15-35%). So in my opinion it doesn't worth to focus on this issue. Also this will not help with memory fragmentation (see experiments [here](https://github.com/dselivanov/r-malloc), I personally switched to `jemalloc` and very happy).

[2017-10-18 08:33] #50 closed

[2017-11-16 08:45] alanault opened #57 "Strip punctuation option for tokenize_ngrams"
I saw in [issue 48](https://github.com/ropensci/tokenizers/issues/48) that the option to control the removal of punctuation was excluded from the `tokenize_ngrams` function.

Is there a programming rationale for this? It seems like punctuation can add a lot of value to text, especially in languages like Spanish.

e.g.
_We're going to the R conference.
We're going to the R conference?
We're going t

[2017-12-11 18:41] patperry opened #58 "Specify encoding in C++ code for skip_ngrams"
Otherwise it defaults to "unknown", which is correct on MacOS and Linux (UTF-8) but incorrect on Windows. The following fails on Windows:

[code]

see https://stackoverflow.com/questions/47715807/does-tidytextunnest-tokens-works-with-spanish-characters/47758574#47758574 .

The line `output[i] = holding[i];` at https://github.com/ropensci/tokenizers/blob/master/src/skip_ngrams.cpp#L47 seems suspect

[2017-12-28 20:03] ekstroem opened #59 "Tokenize sentences starting with a number"
When tokenizing on sentences I run into problems with sentences starting with numbers.

[code]

I'd really like this to be three sentences and not just two but because 1972 is not "capitalized" I run into problems.

This might be something that is related to the `stringi` package, but I'm not entirely sure and maybe you have a crude fix for this.

[2017-12-28 22:58] kbenoit commented on #59
It's a **stringi** thingy. An alternative: Use a proper parser, such as spaCy. The **spacyr** package will segment the sentences correctly, and you can then use some `group_by()` etc ops to join the tokens back into sentences.

[code]

[2017-12-28 23:10] ekstroem commented on #59
Perfect. Thanks!

[2017-12-28 23:10] #59 closed

[2018-01-20 06:39] Ironholds commented on #51
Update: I have (finally) found the time to work on this but have run into an issue convincing `RVector<String>` objects that `as<std::string>` is an operation that can be performed on its members. So, this is fun?

[2018-03-02 17:59] juliasilge commented on #58
This affects users on Windows trying to parse text in, for example, Russian, Estonian (juliasilge/tidytext#80), and Polish (juliasilge/tidytext#63).

[2018-03-02 18:07] lmullen commented on #58
Thanks for the bug report.

@juliasilge Has anyone given you a reproducible example? Or has anyone indicated that they are willing to test this out if I can find a fix? I don't have a Windows environment at the moment, and without someone to test it I will have to defer this till the next time I'm making major revisions to tokenizers.

[2018-03-02 18:22] juliasilge commented on #58
The issues on tidytext linked above (Russian, Estonian, Polish) all contain reproducible examples but of course they all work on my local machines, which are OSX and Linux. @andreypanchenko (who submitted the Russian issue yesterday) would you be willing to test out possible fixes in the near future here for the tokenizers repo?

[2018-03-02 18:51] patperry commented on #58
There's a reprex in my original report:

[code]

[2018-03-02 18:57] patperry commented on #58
Here are the results. Sorry for the screenshot. I run windows in a VM and I haven't figured out how to copy-paste.

<img width="579" alt="screen shot 2018-03-02 at 1 54 53 pm" src="https://user-images.githubusercontent.com/43450/36916291-83f92782-1e21-11e8-8ecd-be8ddfada3cd.png">

[2018-03-02 19:01] patperry commented on #58
You should be able to test the fix on Mac or Linux. The expected behavior is to see the following:

[code]

[2018-03-03 08:06] kbenoit commented on #58
We had this problem in early stages of `quanteda::tokens_ngrams()` but fixed it in the to/from C++ travel. @koheiw knows better than I, but I think it was in https://github.com/quanteda/quanteda/commit/1b3a03beb76c4328446b553ce1b0d60d1b230dd3#diff-12925d3bcd1fefdaf12f5e7e3a1e41e1.

[code]

[2018-03-03 09:17] koheiw commented on #58
If you do not set encoding of elements of character vectors in R or in C++, non-ASCII characters does not appear on Windows properly.
[code]
My solution is https://github.com/quanteda/quanteda/blob/fdd82aa9474ba37c2d4845f96457ddc084ea562d/src/recompile.h#L39-L47

[2018-03-03 16:40] lmullen commented on #58
Thank you all for these examples and code. I'll work on this.

[2018-03-04 00:58] patperry commented on #58
As I noted in my original comment, this is probably a 1-line fix. Change `output[i] = holding[i];` to something like `output[i] = String(holding[i], CE_UTF8);` .

[2018-03-12 17:44] #58 closed

[2018-03-12 17:54] lmullen commented on #58
Thank you all, especially @patperry. This should be fixed now.

@juliasilge I'm guessing that most people affected by this are tidytext users. I'm hoping to push a new release (v0.2.0) to CRAN soonish so they can get this bug fix without needing to install the dev version. Feel free to let me know if you need me to do anything re tidytext.

[2018-03-12 17:56] #57 closed

[2018-03-12 18:18] lmullen opened #61 "Add a pkgdown website"

[2018-03-12 21:52] #53 closed

[2018-03-12 22:38] #12 closed

[2018-03-12 22:40] lmullen commented on #39
TODO:

- [ ] Cite NLTK re Penn Treebank. Bird, Steven, Edward Loper and Ewan Klein (2009), Natural Language Processing with Python. O’Reilly Media Inc.

[2018-03-12 22:43] lmullen commented on #12
@jrnold Thanks again for contributing this tokenizer. I've given it a more thorough review and cleaned up the documentation. There was a fairly significant problem with the code. In a number of instances it ran a regex on the documents but didn't actually save the results. E.g., see [this line](https://github.com/ropensci/tokenizers/commit/37a7b1880f32ccf85bc440e27762eeefb8492839#diff-274a2492edbe

[2018-03-12 23:43] #30 closed

[2018-03-13 01:45] #43 closed

[2018-03-13 02:48] #61 closed

[2018-03-13 09:38] kbenoit commented on #46
There is a package [**stopwords**](http://github.com/quanteda/stopwords) that contains the full language set of Snowball stopwords, plus an additional set containing many others. This is a single function `stopwords(language = “en”, source = “snowball”)` (e.g.) that provides the ability to extend the sources using the `source` argument. The return is a simple character vector.

We moved the native

[2018-03-13 15:02] lmullen commented on #46
@kbenoit Brilliant! Thanks for bringing the stopwords package to my attention. I have removed all the stopwords from tokenizers and taken a dependency on that package instead. I'm delighted to be out of the stopwords business.

If Jockers is willing, I will send a pull request with those stopwords to the stopwords package later.

[2018-03-13 16:46] lmullen commented on #39
@jrnold @kbenoit @dselivanov @Ironholds:

I intend to submit a paper for this package to the Journal of Open Source Software as soon as I [release version 0.2](https://github.com/ropensci/tokenizers/milestone/1) to CRAN. The work for that release is basically done, except making sure that the package works well with the text interchange format.

I'd like to invite all the contributors to the packa

[2018-03-13 19:47] lmullen commented on #25
@kbenoit My understanding is that quanteda has its own reliable tokenizers now and that this issue can be closed. If that's not correct, please let me know and I'll come back to this.

[2018-03-13 19:47] #25 closed

[2018-03-13 20:08] lmullen opened #62 "Update DESCRIPTION prior to release"
- [x] bump the version number
- [x] add a date
- [x] change the URL

[2018-03-13 22:22] kbenoit commented on #25
**quanteda** does but we still have aspirations to outsource or modularize this. Happy for this to be closed though, since it's an open issue here https://github.com/quanteda/quanteda/issues/276.

[2018-03-13 22:24] kbenoit commented on #39
Happy to be listed and honored to be included. Kenneth Benoit, London School of Economics and Political Science, ORCID ID is 0000-0002-0797-564X. I will look at the draft asap.

[2018-03-13 23:33] lmullen commented on #25
Okay, sounds like a plan. Happy to assist in making tokenizers suitable for quanteda.

[2018-03-14 00:10] #49 closed

[2018-03-14 12:17] Ironholds commented on #39
Absolutely! Os Keyes, Department of Human Centered Design & Engineering, University of Washington, 0000-0001-5196-609X. Happy to chip in to the paper just as soon as I finish an upcoming CSCW submission.

[2018-03-14 14:05] lmullen commented on #39
@kbenoit @Ironholds Glad to have you on board. I've added you both the paper on the `joss-paper` branch, and updated the same information in the `DESCRIPTION` file on `master`. Both commits are above.

[2018-03-15 05:34] dselivanov commented on #39
@lmullen thanks for the effort. Please add me as well:
Dmitry Selivanov, Open Data Science (http://ods.ai/)

[2018-03-16 13:00] lmullen commented on #39
Great, @dselivanov. I've added you to the author list.

[2018-03-16 13:52] meczupevi commented on #58
@juliasilge @lmullen @patperry Yes, I've just tested and it worked for Turkish (on Windows machine).
Thank you so much!

[2018-03-19 19:52] jrnold commented on #12
Wow. That is bad. I'm sorry; I don't even know how I did that. It must have been when I converted from using stringr in the original gist. Clearly, I didn't write tests, which it looks like you did.

[2018-03-19 19:54] jrnold commented on #39
I would be great to have be added. Thanks! Jeffrey Arnold, Political Science, University of Washington. 0000-0001-9953-3904.

Do you need me to look at anything in particular for the paper?

[2018-03-21 16:39] lmullen commented on #39
Version 0.2 is on CRAN now. Thanks for all of you for contributing to it. I will publicize once the binaries have been built on CRAN.

I have revised the paper again. Thanks, @kbenoit, for going over it already. I don't think there is a lot more to be done for it, but I am open to any suggestions. In particular, if anyone has used or knows of places where this package has been used in citable rese

[2018-03-21 16:46] lmullen commented on #39
@jrnold If you have a citation for PennTreebank that might be a good addition. The website for the original implementation is now offline. I couldn't find a paper to cite, but if you know of one we should add it.

[2018-03-21 17:00] #62 closed

[2018-03-27 22:49] #39 closed

[2018-03-28 02:13] jrnold commented on #39
This seems to be a link for the original PTB tokenizer: ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html, and this looks to be the link to the original Robert McIntyre sed script ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenizer.sed

[2018-03-29 11:28] lmullen commented on #39
The paper has been accepted by JOSS. Here's the DOI: https://doi.org/10.21105/joss.00655

I've submitted a few minor typographical changes to clean up the article, but other than that it's all done.

[2018-05-30 03:49] EmilHvitfeldt opened #68 "tokenize_tweets doesn't separate emojis with no spaces between them"
As the title says does tokenize_tweets not separate emojis that don't have a space between them. furthermore anything following a emoji (without a space) is grouped together with the emoji code

[code]

Is it something that can be handled or is it simply a limitation of the algorithm? :)

[2018-05-30 06:54] kbenoit commented on #68
Interestingly, this is affected by the `strip_punct ` argument:
[code]
Similar behaviour is observed in `tokenize_words()`:
[code]

[2018-05-30 18:26] EmilHvitfeldt commented on #68
Interesting find! However this alone wouldn't be enough as some emojis have multiple units to allow modifiers such as skin-tone modifiers:

[code]
should in reality be

[code]

as `\U0001f3ff` is a "dark skin tone" added to `"\U0001f64c` (🙌).

Another example is the flag emojis that combine two regional indicator symbols (letters) to make the flags work.

`\U0001f1ee\U0001f1f9` should be kept toge

[2018-05-30 18:32] lmullen commented on #68
Tokenization into words in this package is heavily dependent on the stringi package. If @kbenoit is interested in putting together a PR for the `tokenize_tweets()` function, I will of course be glad to accept it. But for the rest of the tokenizers, this issue with treating emoji as words may be better addressed in stringi.

[2018-06-01 11:44] kbenoit commented on #68
I’ll be happy to look into this - in a few weeks when exam season is done here!

[2018-07-25 23:24] juliasilge opened #70 "tokenize_tweets and single word strings"
Hello! In juliasilge/tidytext#119, we have found what looks like an error for `tokenize_tweets()` in the case of an input character vector that is a single word/token.

[code]

Created on 2018-07-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

Looks like it is happening [right here](https://github.com/ropensci/tokenizers/blob/39ce33d5b9e0b46513fd07734710aa28d4b32f83/R/tokenize_t

[2018-07-26 20:21] #70 closed

[2018-07-26 20:22] lmullen commented on #70
This should be fixed on the master branch. I would appreciate it if you would test this in whatever circumstances are causing the error in tidytext, @juliasilge.

[2018-07-30 23:28] juliasilge commented on #70
It is all fixed now and behaving correctly. Thanks so much, @lmullen! 🙌

[2019-11-10 14:03] hope-data-science opened #73 "Why could tokenizers split Chinese as well?"
I have used tokenize_words to split Chinese and I find that it works to some extent, therefore I want to know why it works. And is there any way to build a dictionary and improve its performance?

[2019-11-11 15:20] lmullen commented on #73
@hope-data-science I would not rely on tokenizers to split non-Western languages without verifying that it is doing so correctly. You can read the source code for the tokenizers to see how it works under the hood. It mostly uses the stringi package, which has strong Unicode support. I'm guessing that is why it works.

If you would like to send a pull request improving support you are welcome to do

[2019-11-11 15:20] #73 closed

[2019-12-05 11:18] hope-data-science opened #74 "Output ngram might consider punctuation separation?"
I want to get the n-grams using tokenize_ngrams function, however, I want it to be separated by the punctuation. e.g. "Hello my darling, how are you today?" should never output a 2-gram of "darling how". Any ideas to add this feature to tokenize_ngrams?

[2019-12-05 11:40] kbenoit commented on #74
**quanteda** does this by allowing a "pad" (a ghost non-token) to remain in place of removed items, which are never formed into ngrams. We use this a lot to stop collocations from being detected when they are separated not only by punctuation characters, but also by stopwords. Too many existing approaches remove stuff and then consider tokens adjacent, after removal, that were never adjacent befor

[2019-12-05 11:47] hope-data-science commented on #74
Unlike skip-gram, when using n-gram we might want to extract meaningful phrases using tokenize_ngrams. Is there a way to split the text with a dictionary and do more precise split?
e.g. I want to tokenize "My study area is global warming.", with a dictionary `c("study area","global warming")`, and I could finally get `"My" "study area" "is" "global warming"`.

[2019-12-05 12:05] kbenoit commented on #74
I think we might be on issues for the wrong package, but here you go:

[code]

This takes your phrase dictionary and combines the sequences post-tokenization into a single, compounded "token".

[2019-12-05 12:08] hope-data-science commented on #74
I am the one to be blame, but this is my initial problem to be solved. Excellent solution, can not thank you enough for the contribution you have made.

[2019-12-05 12:12] kbenoit commented on #74
No worries! We love seeing people adapt the tokens functions in quanteda to solve these sorts of problems. I suggest studying the `tokens_lookup()`, `tokens_compound()` and `phrase()` functions.

[2019-12-05 12:19] hope-data-science commented on #74
Working on it, I think there must be a general dictionary plus a professional user defined dictionary to complete this task. Any ideas for a suggested general dictionary? And as the dictionary size increases, is performance an issue?

[2019-12-05 12:24] kbenoit commented on #74
None yet that I know of, but you can detect them using `textstat_collocations()`.

[2019-12-05 12:32] hope-data-science commented on #74
Thank goodness I did not write this function myself. I think you can consider wrap the answered code and make it a general way for tokenization, this should be a flagship function for English tokenizers in R community. Maybe it could be included in \pkg{tokenizers}.

[2019-12-05 12:45] hope-data-science commented on #74
One more question:
[code]
In large dictionary, there is usually this case. However, it it not desirable to get all the words concatenated. Is there a way to put weights and decide the priority of concatenation?

[2019-12-05 13:38] kbenoit commented on #74
The functions only work if the objects are **quanteda** tokens objects, but any list of tokens from **tokenizers** can coerced into **quanteda** tokens using `as.tokens()`.

There is no way to assign priorities for compounding, but you can get all of them using `join = FALSE`:
[code]

[2019-12-05 14:50] lmullen commented on #74
@hope-data-science Glad you found a solution that works for you. Thanks, @kbenoit.

[2019-12-05 14:50] #74 closed

[2020-06-16 22:34] syumet opened #76 "Inconsistent behavior of tokenize_tweets() when filtering stopwords with punctuation"
Consider this example:
[code]

From my observation, `tokenize_tweets()` will remove punctuations before cleaning stopwords, that's probably the cause of the problem.

[2020-06-22 14:23] kbenoit commented on #76
Fixed in a PR (still pending), thanks.

The **quanteda** package has a much upgraded default tokenizer in v2 by the way that handled social media tags even better and faster than `tokenize_tweets()`, without the problems you noticed.

[2020-06-24 18:25] #76 closed

[2020-06-24 18:27] lmullen commented on #76
Thanks for the fix, @kbenoit.

@syumet: You should be able to install the development version with the fix via the `remotes` package.

[2021-07-14 20:54] #68 closed

[2021-12-01 17:09] fschaffner opened #79 "Add strip_numeric = TRUE option to tokenize_tweets()"
Could `strip_numeric =` be added as an option to `tokenize_tweets()`?

Currently `tokenize_tweets("@rOpen5Sci and #rstats see: 10 https://cran.r-project.org", strip_numeric  = TRUE)` produces an error message.

[2022-02-25 08:55] Legallois opened #80 "keeping punctuation"
Hi

I would like to know if there is a way to keep the punctuation in the ngrams tokenization .  I would like to get ngrams like :
". he was "
"was an intelligent, gentlemanlike man, "
"in his own way."
etc.

thanks,

Dominique Legallois

[2022-09-21 22:13] EmilHvitfeldt opened #81 "Possible CRAN release"
Hello {tokenizers} maintainers! 👋

Nothing but praise for this package!

I have been getting some users running into errors that occurred in the CRAN version of {tokenizers} but have been fixed in the github dev version of {tokenizers}. https://github.com/ropensci/tokenizers/commit/a4b824f5615ef26e5c3a07031133226c3fbb5df1 is one such fixed bug.

Would it be possible for you to do a CRAN release? a

[2022-09-21 23:03] lmullen commented on #81
@EmilHvitfeldt Thanks for the prompt. Yes, I can push up a CRAN release.

[2022-09-21 23:03] #81 closed

[2022-09-23 00:51] lmullen commented on #81
Submitted 0.2.3 to CRAN.

[2022-11-17 22:43] MichaelChirico opened #82 "Twitter tokenizing logic broken by upcoming ICU 72 breaking change ('@' no longer splits)"
See the release notes:

https://icu.unicode.org/download/72

In particular:

That will break a test assuming the opposite:

https://github.com/ropensci/tokenizers/blob/16cd6c7e04675409b381eac0bf0041cf261cfd48/tests/testthat/test-tokenize_tweets.R#L27-L30

Minimal example illustrating the change on `stringi` installed with ICU versions <72, >= 72:

[code]

That logic is used in `tokenizers` here:

[2022-11-17 23:07] gagolews commented on #82
Thanks for spotting this.

Note that `str_*_boundaries` also support custom sets of work-break rules (whole definition files passed via `opts_brkiter` - `type`)

The changed word.txt is:

[icu4c/source/data/brkitr/rules/word.txt](https://github.com/unicode-org/icu/commit/49d192fefe09fcc38547203487cf4e63d2dad61f#diff-3ed0fb4d03df74c0a85e9f09043df0050d6ff82754da1b1338d77cc87e4b654e)

New: https://gi

[2022-11-18 00:46] MichaelChirico commented on #82
Here's what I'm seeing as the current behavior on ASCII characters:

[code]

Highlighting the differences:

[code]

I'm not sure how well-tested (or even intentional) the current implementation is, I assume `#` and `@` are the most important characters; `#` is unaffected.

[2022-11-20 15:30] lmullen commented on #82
Thank you all for bringing this to my attention. CRAN has set a deadline of 04 Dec 2022 to fix this.

@kbenoit: I believe the tokenizer for tweets was your contribution. Would you be willing, please, to submit a fix?

[2022-11-20 15:41] kbenoit commented on #82
Sure will do.

[2022-11-20 15:49] lmullen commented on #82
Thanks, Ken. Much appreciated.